.price {
	color: red;
}

.card {
	background-color: white;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

.button-container {
	margin-top: 20px;
	margin-bottom: 60px;
	text-align: center;
}